* {
	box-sizing: border-box;
}

body{
	background-color: rgb(165, 253, 253);
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
}

.main-grid{
	display: grid;
	grid-template-columns: 200px 400px auto 200px;
	grid-template-rows: 180px auto 180px;
}

#indicator-bottom-right{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 4;
}

#indicator-bottom-left{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
}

#indicator-top{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
}

#author-info{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 4;
}

#main-content{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	box-shadow: 0px 0px 5px #ffffff, 0px 0px 5px #ffffff inset;
	border-radius: 20px;
	overflow: hidden;
}

#main-content2{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
	padding: 30px;
	box-shadow: 0px 0px 5px #ffffff, 0px 0px 5px #ffffff inset;
	border-radius: 20px;
	overflow: hidden;
}

#banner-bottom{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-left: 220px;
}

#menu{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.cube p{
	text-align: center;
	font-weight: 600;
}

a{
	margin-left: 15px;
}

.cubecontainer {
	width:400px;
	height: 400px;
	perspective: 800px;/*määrab  kauguse vaatajast*/
	perspective-origin: 50% 50%;/*perspektiivpunkt*/
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	margin: 100px auto;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
	
	color: rgba(0,0,0,0.8);
	text-transform: uppercase;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}

.backcover {
	background: rgba(255,0,0,0.2);

}

.left {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}

.leftcover {
	background: rgba(0,255,0,0.2);
}

.right {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}

.rightcover {
	background: rgba(0,0,255,0.2);
}

.top {
	transform: rotateX(-90deg) rotateY(180deg) translateY(-100px);
	transform-origin: top center;
}

.topcover {
	background: rgba(255,255,0,0.2);
}

.bottom {
	transform: rotateX(90deg) rotateY(180deg) translateY(100px);
	transform-origin: bottom center;
}

.bottomcover {
	background: rgba(255,0,255,0.2);
}

.front {
	transform: translateZ(100px);
}

.frontcover {
	background: rgba(0,255,255,0.2);
}

.hide{
	
}

.back, .left, .front, .right{
	padding-top: 50px;
}
